body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
#top-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-height: 0;
}
#vehicle-container{
    width: 200px;
    overflow: auto;
    white-space: nowrap;
}
#vehicle-container-header{
    margin: 10px;
}
#vehicle-load-dynamics-btn-backend{
    display: none;
}
.vehicle{
    display: block;
    margin: 10px;
}
.vehicle-hover{
    background-color: rgb(235, 235, 235);
}
.vehicle-body{
    margin-left: 10px;
}
.vehicle-position{
    font-family: monospace;
}
.vehicle-action{
    font-family: monospace;
}
#sidebar-resizer {
    width: 15px;
    background-color: #ccc;
    cursor: col-resize;
    user-select: none;
    background: repeating-linear-gradient(45deg, #e3e3e3, #e3e3e3 10px, #f1f1f1 10px, #f1f1f1 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}
#sidebar-resizer-handle{
    width: 6px;
    height: 50px;
    background: #ffffff;
    border-radius: 3px;
    cursor: ew-resize;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#sim-container {
    background-color: white;
    flex: 1;
    min-width: 0;
}
#controls-box{
    background-color: #c5c5c5;
}
.controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 8px;
}
.slider-container > div{
    text-align: center;
}
.control-container-label{
    /*display: inline-block;*/
    /*width: 7em;*/
    width: 100%;
    text-align: center;
}
#num-vehicles[type="number"] {
    width: 80px;
    text-align: center;
}
button{
    /* padding: 5px 10px;
    font-size: 16px; */
}
#perturbation-id-input{
    width: 25em;
}
.perturbation-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#perturbation-id-suggestion{
    text-align: left;
    display: inline-block;
}
.perturbation-id-minmax{
    width: 5em;
    text-align: center;
}
#perturbation-transform{
    text-align: center;
    width: 20em;
}
.perturbation-group-item {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 12px;
    align-items: center;
}

.perturbation-group-item-path {
    font-family: monospace;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.perturbation-group-item-range {
    font-family: monospace;
    text-align: center;
    overflow: hidden;
}

.perturbation-group-item-value {
    font-family: monospace;
    color: #e63946;
    text-align: center;
    overflow: hidden;
}
#drag-and-drop-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    z-index: 1000;
    font-size: 40px;
}
canvas{
    overflow: hidden;
}

.status {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    display: none;
}
.status.success {
    background: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
.status.error {
    background: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
#checkpoint-name{
    font-family: monospace;
    font-size: 80%;
    /*color: #e63946;*/
    /* max-width: 700px; */
    word-break: break-all;
    margin-right: 12px;
}
#load-checkpoint-btn{
    margin-left: 12px;
}
#load-checkpoint-btn-backend{
    display: none;
}

#observations{
    font-family: monospace;
    font-size: 80%;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


#controller-options-container{
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 8px;
}

#controller-selector-container{
    margin-right: 8px;
}
#controller-selector-form{
    display: flex;
    flex-direction: column;
    margin-block-end: 0em;
    white-space: nowrap;
}


#policy-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    padding-left: 4px;
    border-left: 2px solid black;
    padding-top: 2px;
    padding-bottom: 3px;
}
#controller-container{
    display: none;
}
#gamepad-container{
    display: none;
}
.policy-container-item{
    display: flex;
    align-items: center;
}
#controller-code{
    min-width: 700px;
}